*{
    margin: 0;
    padding: 0;
}
/* navbar css */
nav{
    height: 70px;
    background-color: #A1D1A3;
}
nav li{
    display: inline-block;
    padding: 10px 10px;
}
/* jumbo image css */
.jumbo-img{
    display: block;
    width: 95%;
    height: 500px;
    margin: 20px 35px 0px 35px;
}
img{
    max-height: 500px;
    min-height: 300px;
}

#UsersChoice{
    text-align: center;
    display: flex;
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 5%;
    min-width: 100pxa;
}
.vin-compare{
    display: none;
}