* {
	margin: 0;
	padding: 0;
}

body {
	background-image: linear-gradient(rgb(136, 182, 219), white);
	background-repeat: no-repeat;
}
/* navbar css */
.nav-link{
	margin-right: 0px;
	float: right;
}

#logo {
	padding-left: 0px;
	margin-left: 0px;
}


/* jumbo image css */
.jumbo-img {
	display: block;
	width: 95%;
	height: 500px;
	margin: 20px 35px 0px 35px;
}
#UsersChoice {
	text-align: center;
	display: flex;
	margin-left: 6%;
	margin-right: 6%;
	margin-top: 5%;
}

/*@media(max-width: 500px) {
    .twocarsimg {
		 /* css stuff! */
 		/*height: 80px;
		width: 70px;
		display: block; 
		margin-left: auto; 
		margin-right: auto;
}
}

@media(max-width: 500px) {
    .lemoncarimg {
		 /* css stuff! */
 		/*height: 20px;
		width: 30px;
		display: block; 
		margin-left: auto; 
		margin-right: auto;
       
}
} */
#compareContainer1,
#VinCheck {
	margin: 5%;
	
}

#compareContainer2 {
	margin: 5%;
	display: inline-block;
}

.vin-compare {
	display: none;
}

.footer {
	padding: 30px;
	clear: both;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
		'Lucida Sans', Arial, sans-serif;
	text-align: center;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
